<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.eclipsegym.bodyfatcalc"
        versionCode = "10" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Jackson Pollock 4 Point Skinfold Bodyfat Calculator</name>

    <description>
        Jackson Pollock 4 Point Skinfold Bodyfat Calculator
    </description>

    <author href="https://www.eclipsegym.com" email="gaston.ke@eclipsegym.com">
        Gaston Ke
    </author>

</widget>